@import 'tailwindcss';

:root {
  --backgound : #1e5366;
  --shadow: 0 0 10px rgba(0,0,0,0.5);
  --formbg: #e7e7e7;
}
body {
  background-color: var(--backgound)
}
.register {
  box-shadow: var(--shadow);
}
.bge {
  background: var(--formbg);
}